body{
    background-color: #9fa21e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2ffa6a;
    color: white;
    text-align: center;
    padding: 1em;
}
nav{
    margin: 10px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul{
    list-style: disc;
    padding: 20px;
    margin: 10px;
}
div{
    text-align: right;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

}
li{
    list-style-type: decimal-leading-zero;
}
main{
    margin: 60px;
}
footer{
    background-color: #9d125f;
    color: white;
    text-align: center;
    padding: 1em;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    background-color:#69820d;
    padding: 1em;
    margin: 30px;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    }
    th td{
        border: 1px solid black;
        padding:  8px;
        text-align: center;
    }
    th{
        background-color: #f2f2f2;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        font-weight: 600px;
        color: darkgoldenrod;
    }
    h2{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: firebrick;
    }